{
	"Logging": {
		"LogLevel": {
			"Default": "Information",
			"Microsoft.AspNetCore": "Warning"
		}
	},
	"ConnectionStrings": {
		"Default": "Host=localhost;Port=5432;Database=taskyai;Username=postgres;Password=YOUR_PASSWORD"
	}
}
